{% extends 'base.html' %} {% block content %}

<div class="row mt-5">
  <div class="col-6">
    <h2>{{ face.name }}'s Details</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ face.name }}</h5>
        <p>Age: {{ face.age }}</p>
        <p>Golden Ratio: {{ face.golden_ratio }}</p>
        <p>Date: {{ face.date }}</p>
        <p>Gender: {{ face.get_gender_display }}</p>
      </div>

      <div class="card-body">
        <a class="btn btn-primary" href="{% url 'faces_update' face.id %}"
          >Edit</a
        >
        <a class="btn btn-danger" href="{% url 'faces_delete' face.id %}"
          >Delete</a
        >
      </div>
    </div>
  </div>
  <div class="col-6">
    <h2>Add a Picture for {{face.name}}</h2>
    <div class="card">
      <div class="card-body">
        <form action="{% url 'add_picture' face.id %}" method="POST">
          {% csrf_token %} {{picture_form.as_p}}
          <input type="submit" class="btn btn-primary" value="Add Picture" />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <h2>Pictures</h2>
  {% for picture in face.picture_set.all %}
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <img width="100%" src="{{ picture.url }}" />
        <p class="text-center">{{picture.date}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row mt-3">
  <div class="col-6">
    <h3>{{face.name}}'s Tags</h3>
    <ul class="list-group">
      {% if face.tags.count %} {% for tag in face.tags.all %}
      <li class="list-group-item">{{tag.name}}</li>
      {% endfor %}
    </ul>
    {% else %}
    <h5>No Tags :(</h5>
    {% endif %}
  </div>
  <!-- Available tags will come after this line -->
  <div class="col-6">
    <h3>Available Tags</h3>
    <ul class="list-group">
      {% if tags.count %} {% for tag in tags.all %}
      <li class="list-group-item">
        {{tag.name}} -
        <form
          id="tag-form"
          action="{% url 'assoc_tag' face.id tag.id %}"
          method="post"
          class="d-inline"
        >
          {% csrf_token %}
          <a href="#" onclick="submitForm()">Add</a>
        </form>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h5>{{face.name}} Already Has All Tags Available</h5>
    {% endif %}
  </div>
  <script>
    function submitForm() {
      let form = document.getElementById('tag-form');
      form.submit();
    }
  </script>
  {% endblock %}
</div>
