{% extends 'base.html' %} {% block content %}
<h1 class="text-center pb-3 my-4 text-white border-bottom">Faces</h1>

<div class="row">
  {% for face in faces %}
  <div class="col-lg-3">
    <div class="card mb-3">
      <a
        href="{% url 'detail' face.id %}"
        class="text-decoration-none text-reset"
      >
        <div class="card-body text-black">
          <h5 class="card-title">{{ face.name }}</h5>
          <p>Age: {{ face.age }}</p>
          <p>Golden Ratio: {{ face.golden_ratio }}</p>
          <p>Date: {{ face.date }}</p>
        </div>
      </a>
    </div>
  </div>
  {% if forloop.counter0|divisibleby:4 and forloop.counter0 > 3 %}
</div>
<div class="row">{% endif %} {% endfor %}</div>
{% endblock %}
